*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.padre{
display: flex;
flex-flow: column wrap;
margin: 0px 1px;
}
.temp{
  background-color: #cccccc;
    display: flex;
    font-size: 20px;
}
.temp a{
  font-size: 20px;
  display: flex;
}
.margen-interno{
    padding: 0px 50px;
}
.img-post {
    display: flex;
    flex-flow: column nowrap;
}
    .img-post .img{
        padding: 10px;
        height: 300px;
    }
    .header{
        background: url(imagenes/piscina13.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        border: 4px solid rgb(233, 202, 109);
    }
        .menu{
            background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            margin-top: 70px;
            flex-flow: row nowrap;
            height: 220px;
            align-items: center;
            border:rgb(233, 202, 109) solid 1px;
        }
            .logo{
                flex: 2 1 auto;
            }
            .logo a{
                color: aliceblue;
                font-size: 30px;
            }
            .nav{
                
                display: flex;
                flex-flow: row wrap;
            }
            .nav a{
                color: #ffff;
                font-size: 20px;
                text-transform: uppercase;
                padding: 0 30px;
                letter-spacing: 2px;
                font-size: 25px;
            }
        .texto-principal{
            height: 200px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            align-content: stretch;
            justify-content: center;
        }
            h1{
                background-color: rgba(12, 22, 77, 0.482);
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 30px;
                color: white;
                font-weight: 300px;
                text-align: center;
                line-height: 1.6;
            }
            p{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 21;
                color: black;
                font-weight: 300px;
                text-align: center;
                line-height: 1.6;
            }
    .section{
        background-color: #f7f7f7;
        display: flex;
    }
        .articulos{
            background-color: #f7f7f7;
            flex: 1 1  auto;
            display: flex;
            flex-flow: row wrap;
            border: rgb(233, 202, 109) solid 6px;
            margin: 10px 10px 10px 10px;
        }
            .article{
                font-size: 20px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                letter-spacing: 1px;
                margin: 10px 10px 10px 10px;
                flex: 1 1 35%;
                background-color: #ececec;
            }
            .article p{
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-style: oblique;
                font-size: 22px;;
            }
            .article img{
                width: 100%;
                max-width: 700px;
            }
            .article a{
                color: white;
                font-size: 20x;
                padding: 15px 30px 15px 30px;
                background-color: #163784;
                display: block;
            }
            .article .enlace{
                padding: 15px 15px 15px 15px;
                background-color: #ececec;
                margin: 8px 5px;
                display: inline-block;
            }
            h3{
                color: black;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -10px;
            }
            h2{
                background-color: rgba(68, 68, 68, 0.072);
                font-size: 25px;
                text-transform: uppercase;
                padding: 10px 0 10px 20px;
                color: rgb(22, 55, 132);
                text-align: start;
            }
        .aside{
            flex: 1 1 auto;
            margin: 4px 0px 10px 0px;
        }
        .aside img{
            width: 100%;
        }
        h4{
            background-color: black;
            color: white;
            padding: 10px;
            text-transform: uppercase;
        }
            .publicidad{
                flex: 1 1;
                background-color: #ffea85;
                width: 270px;
                margin: 6px;
                border: rgb(233, 202, 109) solid 6px;
            }
    .footer{
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: end;
        padding: 5px;
        margin-top: 5px;
    }
        .pie{
            background-color: rgb(219, 182, 18);
            width: auto;
            margin-top: 2px;
        }
        .pie a{
            color: white;
            font-size: 12px;
            text-transform: uppercase;
            padding: 0px 10px;
            letter-spacing: 2px;
        }
        .pie p{
            color: white;
            font-size: 16px;
            background-color: green;
        }
.container{
    margin: 6px 0px;
    text-align: center;
    font-size: 30px;
}
    .texto-pagina{
        margin: 30px 160px;
        text-align: initial;
        font-size: 23px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

@media all and (max-width:1630px){
    .texto-pagina{
        margin: 30px 60px;
    }
    .nav a{
        font-size:16px;
    }
}
@media all and (max-width:1420px){
    .nav a{
        font-size:14px;
    }
    .logo a{
        font-size: 14x;
    }
}
@media all and (max-width:1380px){
    .menu{
        flex-direction:column;
    }
}
@media all and (max-width:1150px){
    .temp{
      font-size: 15px;

    }
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 25px;
    }
    .texto-principal{
        height: 150px;
    }
    .texto-pagina{
        margin: 30px 60px;
    }
    .publicidad{
        flex: 1 1 auto;
        width: 170px;
    }
}
@media all and (max-width:920px) {
  .temp{
  display: flex;
flex-flow: column wrap;
  }
}
@media all and (max-width:801px){
    .texto-principal{
            height: 120px;
        }
        .articulos{
        flex-direction: column;
        }
        .nav a{
            font-size: 30px;
        }
        .logo img{
            width: 70px;
        }
        .texto-pagina{
            margin: 30px 6px;
        }
        .nav a{
            font-size:14px;
        }
        .logo a{
            font-size: 14x;
        }
}
@media all and (max-width:680px){
  .temp a{
    font-size: 16px;
    display: flex;
  }
    .menu{
        margin-top: 10px;    
    }
    h1{
        font-size: 18px;
    }
    .nav a{
        font-size: 18px;
    }
    .aside{
        flex-direction: column;
        margin: 0px 50px;
    }
    .logo img{
        width: 60px;
    }
    .logo a{
        font-size: 20px;
    }
    .nav img{
        width: 30px;
    }
    .texto-principal{
        height: 120px;
    }
    .texto-principal h1{
        font-size: 20px;
    }
}
@media all and (max-width:500px){
  .temp a{
    font-size: 13px;
    display: flex;
  }
    .texto-principal{
        height: 120px;
    }
    .nav img{
        width: 20px;
    }
    .nav a{
        font-size: 14px;
    }
    .texto-pagina{
        margin: 30px 6px;
        text-align: left;
    }
}
  @media all and (max-width:420px){
    .temp{
      flex-direction: column;
    }
    .temp a{
      font-size: 11px;
      display: flex;
    }
    .margen-interno{
      padding: 0px 0px;
  }
    .texto-principal{
        height: 170px;
    }
    .nav img{
        width: 20px;
    }
    .nav a{
        font-size: 14px;
    }
    
}


